*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width:100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.navbar h1{
    font-size: 35px;
    font-style: normal;
    padding: 20px 80px;
}
.container{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 80px 0;
}
.box1{
    width: 50%;
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction: column;
    padding: 0 80px;

}
.box1 h1{
    font-size:55px;
    color: gray;
}
.box1 h2{
    font-size: 45px;
}
.box1 p{
    text-align: start;
}
.button{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;

}
.button1{
    padding: 10px 10px;
    color: white;
    background-color: aqua;
    border: 1px solid aqua;
    cursor: pointer;
} 
.button2{
    padding: 10px 15px;
    color:black;
    border:1px solid aqua; 
    cursor: pointer;     
} 
.button2:hover{
    background-color: aqua;
}

.box2{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box2 img{
    width:350px;
    height:350px;
    border: 1px solid black;
    border-radius: 50%;  
}
.container1{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 80px 0;
}
.box3{
    width:50%;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0 20px;
    
}
.box3 img{
    width:350px;
    height:350px;
    border: 1px solid black;
    border-radius: 50%;  
}
.box4{
    width: 50%;
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    flex-direction: column;
}
.box4 h1{
    font-size:55px;
    color: gray;
}
.box4 h2{
    font-size: 45px;
}
.button3{
    padding: 10px 10px;
    color: white;
    background-color: aqua;
    border: 1px solid aqua;
    cursor: pointer;
} 

 h1{
    font-size: 40px;
    text-align: center;
}
.child{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    gap:30px;
    padding: 20px 0;
}
.button4{
    border: 2px solid aqua;
    padding: 10px 20px;
    background-color: white;
    color: aqua;
    cursor: pointer;
    
}
.button5{
    border:2px solid grey;
    padding: 10px 20px;
    background-color: white;
    color: grey;
    cursor: pointer;
}
.button5:hover{
    border:2px solid aqua;
    color: aqua;
}
.button6{
    border:2px solid grey;
    padding: 10px 20px;
    background-color: white;
    color: grey;
    cursor: pointer;
}
.button6:hover{
    border:2px solid aqua;
    color: aqua;    
}
.product1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 100px 0;
}
.hoodie1 img{
    width:250px;
    height:250px;
    border: 2px solid grey;
    background-color: grey;
    padding: 40px 30px;
}
.hoodie1 p{
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}
.hoodie1 a{
    font-size: 20px;
}

.product2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 100px 0;
}
.hoodie2 img{
    width:250px;
    height:250px;
    border: 2px solid grey;
    background-color: grey;
    padding: 40px 30px;
}
.hoodie2 p{
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}
.hoodie2 a{
    font-size: 20px;
}

.client{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0;
}
.photo img{
    width: 200px;
    height:200px;
    border: 2px solid white;
    border-radius: 50%;
}
.photo h4,p{
    text-align: center;
}

.footer{
    width:100%;
    height:100vh;
    display:flex ;
    align-items: center;
    justify-content: space-around;
    padding: 150px 0 0 0;
    background-color:black;
}
.foot h1{
    color: white;
    font-size: 30px;
}
.foot p{
    color: white;
}
